header {
    text-align: center;
    height: 110px;
    background-color: rgb(204, 204, 204);
}

h1 {
    text-align: center;
}

nav {
    background-color: rgba(24, 101, 173, 0.938);
    height: 80px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}

a {
    text-align: center;
    margin: 200px;
    text-decoration: none;
    color: white;
}

p {
    text-align: justify;
    font-size: x-large;
    margin: 40px;
}

div {
    text-align: center;
}

footer {
    background-color: rgba(24, 101, 173, 0.938);
    height: 110px;
    background-color: rgba(24, 101, 173, 0.938);
    height: 80px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: white;
}

